# Class on 20200112

In [ ]:
# Print the following Triangle

#              *
#              **
#              ***
#              ****
#              *****

In [5]:
for my_number_1 in range(1,6):
    print(my_number_1)
    for my_number_2 in range(my_number_1):
        print("*")

1
*
2
*
*
3
*
*
*
4
*
*
*
*
5
*
*
*
*
*

In [45]:
for i in range(1):
    print ("*",end='')
print("")
for i in range(2):
    print ("*",end='')
print("")
for i in range(3):
    print ("*",end='')
print("")
for i in range(4):
    print ("*",end='')
print("")
for i in range(5):
    print ("*",end='')

*
**
***
****
*****

In [47]:
for i in range(1,6):
    # the below two line will print * in a line
    for j in range(i):
        print ("*",end="")
    # The below print will create a newline
    print("")

*
**
***
****
*****

#### Write a program to print
##### Part 1
```
*
***
*****
*******
```
1 - Write a program to print the odd numbers <br>
2 - Replace the odd numbers with as many stars

##### Part 2
```
           *
          ***
         *****
        *******
```

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
print("*"*5)

*****

In [7]:
print("Something"*4)

SomethingSomethingSomethingSomething

In [2]:
# printing the first 10 odd numbers

for i in range(10):
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [6]:
for i in range(1,10,2):
    print("*"*i)

*
***
*****
*******
*********