In [2]:
print ("hello world")

hello world

In [4]:
# Greatest of 3 numbers

a=100
b=200
c=350

if (a>b):
    if (a>c):
        print(a)
    else:
        print(c)
else:
    if (b>c):
        print (b)
        
    else:
        print (c)

350

In [34]:
# For Marriage male has to be 21 years old and Female has to be 18 or more

male_age=32
female_age=10

if  (male_age>21):
    if(female_age>18):
        print ("legal")
    else:
            print("illegal")
else:
    print("illegal")

illegal

In [16]:
# Bollywood tamasha
# Age of here is > 50 then he is a char artist
# else an accetable hero
# if afe of heroine > 30 then she is a char artist
# else an accetable heroine
# if age of hero > age heroine by 20 years, movie is hit

ageofhero = 49
ageofheroine = 20

if (ageofhero < 50):
    if(ageofheroine<30):
        if(ageofhero - ageofheroine > 20):
            print("bumper hit")
        else:
            print("ok")
        
    else:
        print("no to heroine")
else:
    print("no to hero")
    if (ageofheroine>30):
        print("no to heroine")

bumper hit

In [5]:
children_1 = 5
children_2 = 6

if (children_1>3):
      print("Book 4 Movie Tikcet")
      if (children_2>3):
          print ("children_2 should not book ticket")
          if (children_1<0):
              print("family can book 2nd show")
              if (children_2<0):
                  print("familiy book 2nd show")
            
else:
     print("book 2nd show")

Book 4 Movie Tikcet
children_2 should not book ticket

In [26]:
# Add all the numbers to 1 to 10
sum_of_numbers=0
for my_number in range(1,3):
    sum_of_numbers=sum_of_numbers+my_number
print(sum_of_numbers)

3

In [13]:
# Add between All the odd numbers:
sum_of_number=0
for my_number in range(1,11):
    if (my_number %2 == 1):
        sum_of_number=sum_of_number+my_number
print(sum_of_number)

25

In [14]:
# Add Even numbers
sum_of_number=0
for my_number in range(1,11):
    if (my_number %2 == 0):
        sum_of_number=sum_of_number+my_number
print(sum_of_number)

30

In [22]:
# Print the following Triangle

for i in range(1,6):
    for j in range(i):  
        print ("*", end="")
    print("")
    print("something")

*
something
**
something
***
something
****
something
*****
something

In [80]:
# Write a program to print
for my_number in range (1,8):
        if (my_number %2 ==1):
            for j in range (my_number):
                print("*",end= "")
            print("")

*
***
*****
*******

In [126]:
for i in range (1,10,2):
    print ("*"*i)

*
***
*****
*******
*********

In [ ]:
Part 2 
         *
       ***
      ****
     *****
    ******